body{
    background-color: #A52A2A
}

.container-fluid{
    padding: 0px;
 }

.card-wrapper{
    display: flex;
}

.book-card{
    margin: 5px;
}
.book-card:hover{
    cursor:grab;
}
.book-card img{
    width: 125px;
    height: 200px;
}

.column{
    border: 1px solid gray;
    background-color: white;
}
#cover-carousel{
    margin: 50px 5px;
}
.carousel-button{
    width: fit-content;
    height: fit-content;
    top: 100px;
    background-color: gray;
    border-radius: 50%;    
}
#cover-fig{
    position: relative;
    margin: 0px;
}
#cover-caption{
    position: absolute;
    bottom: 100px;
    left: 5px;
    color: gray;
}
#book-desc-col{
    padding: 20px 5px;  
    border-left: 0; 
}
#author{
    padding: 20px;
    border-left: 0;
    padding-right: 0;
}

#book-desc{
    margin: 20px 15px;
    max-height: 200px;
    font-size: 14px;
    text-align: justify;
}
#book-url{
    margin-left: 20px;
    font-size: small;
}

.bioContainer{
    margin-top: 20px;
    padding: 20px;   
    border: 1px solid gray;
    background-color: white;
}
    
.carousel-button{
    width: fit-content;
    height: fit-content;
    top: 100px;
    background-color: gray;
    border-radius: 50%;    
}

.drinksContainer{
    padding-left: 0;
    padding-right: 0;    
}

.drinkText{
    padding-left: 0;
}

.h-100{
    border: 1px solid gray;
}

.drinkClass{
    padding-right: 0;   
     
}

.drinkImg{
    width: fit-content;
    border: 1px solid gray;    
}